.col-centered {
    float: none;
    margin: 0 auto;
}

.pull-center {
    text-align:center;
}

#search-div {
    text-align: center;
}

.img-thumbnail {
    height: 200px !important;
}

#page-header {
    text-align: center;
}

h1{
	font-family: 'Lato', sans-serif;

}
.name {
	font-family: 'Lato', sans-serif;

}

#keywords {
	outline: 0 !important;
	border: none;
	color: #002F66;
	font-size: 40px;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
    width: 600px;
    text-align: center;
}
#keywords[type=text] {
    cursor:none;
}

#average-price, #average-price h3 {
    margin-top:0;
    text-align:center;
}

#categoryMenus {
	background-color:  #458EE5;
	padding-top: 20px;
	padding-bottom: 20px;
}

#name{
	font-weight: bold;
	color: #333333;
}

#submitButton{
	padding-top: 20px
}

#similar-button{
	font-family: 'Lato', sans-serif; 
	font-weight: bold;
}

#appraise-button{
	margin-right: 10px;
	font-family: 'Lato', sans-serif; 
	font-weight: bold;

}

select {
   	font-family: 'Lato', sans-serif; 
   	border: 0;  
   	font-size: 18px;
   	background-color: white;
	outline: none;
}
