{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div id="search-div" class="col-lg-12 col-centered">
        <form id='search-form' name='search' method='post'>
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 hidden-xs">
                    <input type='text' class='search_box' id='keywords' name='keywords' placeholder='What are you looking for?'>
                </div>
                <div class="col-lg-12 visible-xs pull-center">
                    <input type='text' class='search_box' name='keywords' id="keywords-sm" placeholder="What are you looking for?">
                </div>
            </div>

            <div id="categoryMenus" class="row">
                <select name='categoryId' id='first-choice' class="dropdown">
                    <option>Select a Category</option>
                    {% include 'category-options.html' %}
                </select>

                <div id="selector-gap" class="col-xs-12 visible-xs">
                    <br/>
                </div>

                <select id = "second-choice" class="dropdown">
                    <option>Select a Sub-Category</option>
                </select>
            </div>

            <div id="submitButton" class="row">
                <div class="col-sm-12">
                    <input class='btn btn-primary btn-lg' type='button' value='Appraise' id="appraise-button">
                    <input class='btn btn-primary btn-lg' type='button' value='Shop' id="similar-button">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
{% if averages %}
    <div class="col-lg-12">
        <table id='average-table' style="display:none;">
            {% for item in averages %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>{{ item.1 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% if show_graph %}
<div class="row">
    <div class="col-lg-8 col-sm-12 col-centered" id="average-price">
        <h2>The average price for similar items is <strong>${{ average_price|floatformat:2 }}</strong>.</h2>
    </div>
</div>

<div class="row">
    <div id="outer-chart-div" class="col-lg-8 col-sm-12 col-centered">
        <div id="chartContainer">
            <canvas style="height: 300px; width: 50%;">
            </canvas>
        </div>
    </div>
</div>
{% endif %}
{% endif %}

{% if no_results %}
<div class="row">
    <div class="col-md-12 pull-center">
        <h3>Your search did not return any results!</h3>
        <h4>Try using more specific keywords.</h4>
    </div>
</div>
{% endif %} 
</div>
<span id="search_term">{{search_term}}</span>
{% endblock %}

{% block extrascripts %}
    {% if post %}
    <script>
        $(document).ready(function(){
            $('html, body').animate({
            scrollTop: $("#chartContainer").offset().top
            }, 2000);
        });
    </script>
    {% endif %}
{% endblock %}
