{% extends 'base.html' %}

{% block content %}
<div class="container">

    {% if not items %}
    <div class="row">
        <div class="col-md-12" id="placeholder"></div>
    </div>
    <div class="row">
        <div class="col-md-12 pull-center">
            <h3>Your search did not return any results!</h3>
            <h4>Try using more specific keywords.</h4>
        </div>
    </div>
    {% endif %}

<div class="row">
<div id="placeholder" class="col-md-12"></div>
</div>
<div class="row">
    {% for item in items %}
        <div class="col-md-3 col-sm-12 item-tile">
            <div class="row">
                <div class="col-md-12">
                    <img id="{{ forloop.counter }}-image" src="{{ item.galleryURL }}" class='img-thumbnail'>   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    ${{ item.price|floatformat:2 }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="offset-label" id="{{ forloop.counter }}">{{ item.offset|floatformat:0 }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
